.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    width: 300px;
    border: 2px solid #ccc;
    padding: 25px;
    border-radius: 5px;
  }
  
  .form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .button{
    display: flex;
    gap: 30px;
    margin: 20px 30px;
  }

  .Login,.Cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 5px;
    height: 30px;
    color: white;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  .Login:hover {
    background-color: #00ff1a;
  }

  .Cancel:hover {
    background-color: #ff0000;
  }

  button{
    font-size: 1rem;
    padding: 10px 30px;
  }
  
  button #id{
    background-color: grey;
    color: white;
  }
  button #id:hover{
    background-color: black;
  }